/* Estilos generales */
body {
    font-family: 'Montserrat', sans-serif; /* Mantener la tipografía original */
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

/* Header */
header {
    background-color: #008c45; /* Fondo igualado con el footer */
    padding: 20px;
    text-align: center;
    color: white;
    position: relative;
}

.logo-wrapper {
    display: inline-block;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco/transparente detrás del logo */
    border-radius: 50%;
}

.logo {
    max-width: 130px; /* Ajustado para hacer el logo más pequeño */
}

h1 {
    margin: 0;
    font-size: 28px; /* Aumentado el tamaño de la letra del título */
    color: white;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif; /* Tipografía original */
}

/* Navegación */
.nav-links {
    list-style-type: none;
    padding: 0;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 20px; /* Espaciado entre los botones */
}

.nav-links li {
    margin: 0;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid white; /* Borde blanco para mayor contraste */
    transition: background-color 0.3s, box-shadow 0.3s, border-radius 0.3s;
    font-family: 'Montserrat', sans-serif; /* Tipografía original */
}

.nav-links a:hover {
    background-color: #005f2f;
    border-radius: 15px; /* Cambia a borde más redondeado al pasar el mouse */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

/* Estilos de las cards */
.card {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
    text-align: center;
}

.card:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.card h2 {
    color: #008c45;
    font-family: 'Montserrat', sans-serif; /* Tipografía original */
}

.card p {
    margin: 10px 0;
    font-family: 'Montserrat', sans-serif; /* Tipografía original */
}

.btn {
    display: inline-block;
    padding: 12px 30px; /* Aumentado el padding para mayor espacio */
    background-color: #008c45;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 15px; /* Añadido margen superior para separarlo del texto */
    transition: background-color 0.3s, box-shadow 0.3s;
    font-family: 'Montserrat', sans-serif; /* Tipografía original */
}

.btn:hover {
    background-color: #005f2f;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Footer */
footer {
    background-color: #008c45; /* Mismo color que el header */
    color: white;
    text-align: center;
    padding: 10px 0;
    font-family: 'Montserrat', sans-serif; /* Tipografía original */
}
